body{
    margin-left: 100px;
    margin-right: 100px;
    background-color: #FFF8F3;
}
.open-sans {
  font-family: "Open Sans", serif;
}

.header-container{
    display: flex;
    flex-direction: row; 
    justify-content: space-around;
}

.title-name{
    font-size: 45px;
    font-weight: 900;
}

.short-name{
    color: #FD6E0A;
}

.list-items{
    display: flex;
    flex-direction: row; 
    justify-content: space-between;
    gap: 10px;
}

.list{
    display: flex;
    flex-direction: row; 
    justify-content: space-between;
    gap: 10px;
}

.list>li{
    list-style: none;
}

.p-btn{
    background-color: #FD6E0A;
    padding-left: 20px;
    padding-right: 20px;
    font-size: medium;
    font-weight: bold;
    color: white;
}